<ion-content [fullscreen]="true">
  <div id="infoCirculo">
    <div class="image-container">
      <ion-img src="../../assets/imagenes/circulo.JPG" alt="Circulo"></ion-img>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating">Radio (cm)</ion-label>
        <ion-input [(ngModel)]="variableStr" type="number" placeholder="ingresa el Nº"></ion-input>
      </ion-item>

    <ion-item>
      <ion-button (click)="CalcularPerimetro()">Calcular Perímetro</ion-button>
    </ion-item>
    <ion-item>
      {{ resultado }}
    </ion-item>
    </ion-list>
  </div>  
</ion-content>